*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 480px;
}

input,
button,
p {
    border: 1px solid #000;
    border-radius: 2px;
    margin: 2px;
    padding: 4px;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

#answer {
    min-height: 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

.highlight {
    background-color: #FF0;
}